body {
    background-color: black;
    
  }
  
  nav {
    background-color: #2B2B2B;
    padding:10px;
  }

  main {
    margin:10px;
  }

  .center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
  }


  header {
    background-color: #2B2B2B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:10px
  }

#logo {
  width:50px;
  height:50px;
  float:left;
  margin-right:10px;
}

nav ul {
  margin:0;
  padding:0;
  overflow:hidden
}

nav li {
  border:2px solid ; background-color:#2B2B2B;
  background-color: black;
  list-style-type: none;
  float:left;
  width:15%;
  padding:16px;
}

nav li a {
  color:white;
  text-decoration: none;
}

nav li:hover{
  background-color: #2B2B2B;
}

label,legend{
  color:white;
}

  h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
  }
  
  h1 {
    font-size: 36px;
    display:inline;
  }
  
  h3 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
  
  main {
    background-color: #2B2B2B;
    border-radius: 10px;
    padding:10px;
  }
  
  aside {
    background-color: #2B2B2B;
    border-radius: 10px;
  }
  
  aside h3 {
    content: "Latest Tweets";
  }
  
  footer {
    background-color: #1E1E1E;
    border-radius: 10px;
    margin:10px;
  }
  
  footer p {
    content: "Copyright [STUDENT NAME]";
    background-color: #2B2B2B;
  }
